# User-specific files
*.suo
*.user
*.sln.docstates
*.vs
*.vscode

# Build results
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# macOS specific files
.DS_Store

Poly.Benchmarks/BenchmarkDotNet.Artifacts/